/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

    /*=== header start === */
    .navbar-light .navbar-toggler {
        padding: 0;
        border: none;
    }

    .header .icon i {
        padding: 5px;
    }

    .header.mobile .navbar-toggler {
        top: -23px;
        right: 20px;
    }
    /*===//end of header === */

    /* === banenr part start === */
    .banner .slider-item.slide-1,
    .banner .slider-item.slide-2,
    .banner .slider-item,
    .banner {
        min-height: 70vh;
        background-size: cover;
    }
    h1 {
        font-size: 40px;
        line-height: 40px;
        padding-top: 50px;
        /* margin-top: 70px; */
    }

    .bnr-content p {
        font-size: 18px;
        line-height: 26px;
        margin: 20px 0;
    }
 
    /* ===// end of banner part === */

 

  
}

/* Small devices (landscape phones upto 767px) */
@media (max-width: 767px) {
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    
 }

/* Large devices (desktops and laptop) */
@media (max-width: 991px) {
  
 }
/* Large devices (desktops and laptop) */
@media (max-width: 1199px) {

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
 }